body{
    background-color: #292b23;
    text-align: center;
    
}
.picture{
    border-radius: 10%;
    max-width: 12%;

}
.header{
    color: #fbb73a;
}
.tekst{
    color: lavender;
    margin-left: 3cm;
    margin-right: 3cm;
}

